body {
    background-color: lightgray;
}

h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 100px;
    margin-top: 1em;
}

.h1-contain {
    background: lightcoral;
    border-top: 2px solid black;
    width: 100vw;
    height: 377px;
}

.month-list{
    text-align: center;
    list-style: none;
}

.ol-cont {
    border: 1px solid darkcyan;
    border-radius: 3%;
    background-color: darkcyan;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100vw;
}